/* em funciona tomando el tamanio basado en el tamanio que tenga su contenedor padre
    rem es relativo al tamanio del documento

1 rem = 10px con el cambio de font-size en html y body

    Especificidad ya que es una hoja de estilos css, si hay dos selectores iguales con distintos valores tomara el valor del ultimo selector pero si el elemento es mas especifico no importa el lugar donde este


*/
:root{
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffC107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}
/*Globales*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;

}
/*Scroll snap*/
.servicios,
.navegacion-principal,
.formulario
{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
/*
    * seleccina el css completo
    la "," se usa para separar clases para indicar que las propiedades seran las mismas
    after es contenido que no existe porque es un pseudo elemento
*/
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    /*Se agrega la direccion a donde ira el degradado, luego el color y se coloca el porcentaje donde inicia 0% es hasta abajo y 100% hasta arriba*/
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}
.contenedor{
    max-width: 120rem;/*1200px como maximo y solo si esta ese espacio disponible si no usa el 100%*/
    margin: 0 auto;
}
.btn{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700; /*Igual a bold*/
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
.btn:hover{
    cursor: pointer;
}
/*Utilidades*/
.flex{
    display: flex;
}
.w-sm-100{
    width: 100%;
}
@media (min-width: 768px){
    .w-sm-100{
        width: auto;
    }
}
.alinear-derecha{
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .btn{
        width: auto; /**/
    }
}
.sombra{
    -webkit-box-shadow: 10px 5px 15px 0px rgba(112,112,112,0.48);
    -moz-box-shadow: 10px 5px 15px 0px rgba(112,112,112,0.48);
    box-shadow: 10px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
/*Tipografia*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1, h2, h3{
    text-align: center;
}
/*Titulos*/
.title{
    font-weight: 700; /*Igual a bold*/
}
.title span{
    text-align: center;
    font-size: 2rem;
}
.ubicacion{
    display: flex;
    align-items: flex-end;
}
/*Navegacion Principal*/
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion-principal a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700; /*Igual a bold*/
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 45rem;
    margin-bottom: 2rem;
}
.contenido-hero{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);/*Forma anterior*/
    /*background-color: rgb(0 0 0 / 70% );Nueva forma*/
    display: flex;
    flex-direction: column;
    align-items: center; /*Alinea horizontalmente por el column*/
    justify-content: center; /*Alinea verticalmente por el column*/
}
/*
    Opcion 1
    Tomar el tamanio completo, se toma por el tamanio del elemento padre
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    Opcion 2
    Toma el tamanio completo pero si hay padding afectara y se tendra que quitar del elemento padre
    height 100%;
    width 100%;
*/
.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
}
@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /*Repite 3 veces 1fr que seran 3 columnas*/
        column-gap: 1rem; /*Separacion de columnas*/
        /*
        grid: 20rem 80rem / 30rem 30rem;
        Shorthand rows / columns;
        */
    }
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio p{
    line-height: 2; /* 1 */
}
.servicio h3{
    color: var(--secundario);
    font-weight: normal; /*400*/
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*Formulario contacto*/
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);/*Utiliza el valor mas pequeño*/
    margin: 0 auto;
    /*usar margin 0 auto cuando el padre no sea flex y con elementos que tenga display block*/
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario)
}
@media  (min-width: 768px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
        
    }
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="email"],
.campo textarea{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.campo textarea{
    height: 18rem;
}
.enviar .btn{
    width: 100%;
}
.footer{
    text-align: center;
}
